body{
    margin: 0;
    padding: 0;
    background-color: #140005;
    color: white;
    text-align: center;
    font-family: fantasy;
}

h1{
    text-align: center;
    background-color: #603F8B;
    padding: 20px;
    color: white;
}

h3{
    text-align: center;
}

.home{
    color: #b4fee7;
    padding-right: 150px;
    display: inline-block;
}

.timetable{
    color: #fd49a0;
    padding-left: 150px;
    display: inline-block;
}
