body {
  margin: 0;
  padding: 0;
  background-color: #140005;
  color: white;
  text-align: center;
  font-family: fantasy;
}

h1 {
  text-align: center;
  background-color: #603f8b;
  padding: 20px;
  color: white;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

.home {
  color: #b4fee7;
  padding-right: 150px;
  display: inline-block;
}

.timeblock {
  color: #fd49a0;
  padding-left: 150px;
  display: inline-block;
}

#addTimeBlock {
  border-radius: 35%;
  width: 45px;
  height: 45px;
  font-size: 35px;
  margin: auto;
}

.DoneBtn {
  border-radius: 40%;
  width: 80px;
  height: 45px;
  padding: 3px;
  font-size: 20px;
}
.DoneBtn:hover {
  transition: 0.5s;
  background-color: #603f8b;
  color: white;
}

.inputTime {
  border-radius: 26%;
  padding: 4px;
  margin: 5px;
  height: 40px;
  width: 250px;
  font-size: 20px;
}

.timeSetUp {
  border-radius: 26%;
  padding: 4px;
  margin: 5px;
  height: 35px;
}

.DeleteBtn {
  position: relative;
  top: 18px;
  margin-left: 10px;
  border-radius: 40%;
  width: 80px;
  height: 45px;
  padding: 3px;
  font-size: 20px;
}

.DeleteBtn:hover {
  transition: 0.5s;
  background-color: #603f8b;
  color: white;
}

.timeCards {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inputParaTime {
  margin: 20px;
  font-size: 35px;
}
