body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: left;
  margin-left: 10px;
  color: black;
  margin-bottom: 0;
  margin-top: 0;
  margin-top: 5px;
  font-size: 30px;
}

h3 {
  text-align: center;
}

.homeItems {
  color: black;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
}

.homeItems:hover {
  color: dimgray;
  transition: 0.3s;
  text-decoration: underline;
  cursor: pointer;
}
.intro_image {
  border-radius: 10%;
  margin-bottom: 30px;
}
.intro {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.homePageBtn {
  width: 300px;
  font-size: 20px;
  padding: 10px;
}
#timeTableHome {
  background-color: white;
}
#timeTableHome:hover {
  transition: 0.2s;
  background-color: black;
  color: white;
  cursor: pointer;
}

#TimeBlockingHome {
  background-color: black;
  color: white;
}
#TimeBlockingHome:hover {
  transition: 0.2s;
  background-color: white;
  color: black;
  cursor: pointer;
}

.timeCardsHome {
  padding: 15px;
  width: 250px;
  height: 200px;
  border: 1px lightgray solid;
  border-radius: 10%;
  box-shadow: 5px 2px lightgray;
}

li {
  margin: 15px;
}

.reviewCards {
  padding: 30px;
  width: 250px;
  height: 200px;
  border: 1px lightgray solid;
  border-radius: 10%;
  box-shadow: 5px 2px lightgray;
}

.reviewCards img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.textReview {
  font-style: italic;
  font-size: 20px;
}

.home {
  color: #b4fee7;
  padding-right: 150px;
  display: inline-block;
}

.timeblock {
  color: #fd49a0;
  padding-left: 150px;
  display: inline-block;
}

#addTimeBlock {
  border-radius: 35%;
  width: 45px;
  height: 45px;
  font-size: 35px;
  margin: auto;
}

#addTimeBlock:hover {
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px gray;
}

.DoneBtn {
  border-radius: 40%;
  width: 80px;
  height: 45px;
  padding: 3px;
  font-size: 20px;
}
.DoneBtn:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
  cursor: pointer;
}

.inputTime {
  border-radius: 26%;
  padding: 4px;
  margin: 5px;
  height: 40px;
  width: 250px;
  font-size: 20px;
}

.timeSetUp {
  border-radius: 26%;
  padding: 4px;
  margin: 5px;
  height: 35px;
}

.DeleteBtn {
  position: relative;
  top: 18px;
  margin-left: 10px;
  border-radius: 40%;
  width: 80px;
  height: 45px;
  padding: 3px;
  font-size: 20px;
}

.DeleteBtn:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
  cursor: pointer;
}

.timeCards {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inputParaTime {
  margin: 20px;
  font-size: 35px;
}

.timeTableFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
