body {
  margin: 0;
  padding: 0;
  background-color: #140005;
  color: white;
  text-align: center;
  font-family: fantasy;
}

h1 {
  text-align: center;
  background-color: #603f8b;
  padding: 20px;
  color: white;
}

h3 {
  text-align: center;
}

p {
  font-size: 20px;
}

.home {
  color: #b4fee7;
  padding-right: 150px;
  display: inline-block;
}

.timeblock {
  color: #fd49a0;
  padding-left: 150px;
  display: inline-block;
}

#addTimeBlock {
  border-radius: 35%;
  width: 45px;
  height: 45px;
  font-size: 35px;
  margin: auto;
}

.timeCards {
  margin: 10px;
}
